.care{
  .care__block{
    height: 590px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .care__img{
      transition: 0.5s;
      &:hover{
        animation:  collAnim ease-in-out 1s infinite alternate;
      }
    }
    .care_box{
      .care__title{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        /* identical to box height, or 120% */
        color: #222222;
        margin-bottom: 22px;
        @include titleAnim;
      }
      .care__about{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
        color: #222222;
        &.margin_b12{
          margin-bottom: 12px;
        }
        &.black{
          margin-top: 17px;
          color: #000000;
        }
      }
    }
  }
}