.many-currencies{
  .many-currencies__block{
    height: 655px;
    display: flex;
    align-items: center;
    background: url("../img/currencies.png") right center no-repeat;
    .many-currencies__box{
      @include jumpRightAnimForBox;
      .many-currencies__title{
        margin-bottom: 19px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        /* or 120% */
        color: #222222;
        @include titleAnim;
      }
      .many-currencies__about{
        margin-top: 15px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
        color: #222222;
      }
    }
  }
}