@mixin btnAnim{
  transition: 0.3s;
  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
@mixin downloadBtnAnim{
  width: 175px;
  height: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.9);
}
@mixin titleAnim{
  transition: 0.5s;
  &:hover{
    font-size: 50px;
    line-height: 55px;
    color: red;
  }
}
@mixin jumpRightAnimForBox{
  position: relative;
  left: -500px;
  animation: jumpRight 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards;
}
@mixin jumpLeftAnimForBox {
  right: -500px;
  position: relative;
  animation: jumpLeft 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards;
}
@keyframes middleAnim {
  0%  {transform: scaleX(0);}
}
//jumping animation 'animation: jumpRight(jumpLeft) 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s forwards;'
@keyframes jumpRight {
  0%{
    top: 200px;
    left: -450px;

  }
  50%{
    transform: scaleY(0.8);
    top: -180px;
  }

  100%{
    transform: scaleY(1);
    top: 0;
    left: 0;
  }
}
@keyframes jumpLeft {
  0%{
    top: 200px;
    right: -450px;

  }
  50%{
    transform: scaleY(0.8);
    top: -180px;
  }

  100%{
    transform: scaleY(1);
    top: 0;
    right: 0;
  }
}
// lining animation 'animation: leftAnim(rightAnim) 2s ;'
@keyframes leftAnim{
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}
@keyframes rightAnim {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}